<div class="ranking-wrapper">
  <div class="container">
    <div class="title">
      <p>人気のレシピ</p>
    </div>
    <div class="ranked-recipes">
      <% @ranks.each.with_index(1) do |rank, i| %>
        <div class="ranked-recipe">
          <img class="ranking-flag" src="/ranking-flag-<%= "#{i}" %>.png">
          <img class="ranked-recipe-image" src="/sample-recipe-image.png"> <!-- サンプルイメージ -->
          <p class="ranked-recipe-title"><%= link_to(rank.title, "/recipes/#{rank.id}") %></p>
          <p class="ranked-recipe-comment"><%= rank.comment %></p>
          <div class="ranked-recipe-user-minutes">
            <p class="ranked-recipe-user">投稿者 | <%= link_to(rank.user.name, "/users/#{rank.user.id}") %></p>
            <p class="ranked-recipe-minutes"><%= rank.minutes %>min</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>







