<div class="edit-prof-wrapper">
  <div class="container">
    <p class="back"><%= link_to '<<保存せずに戻る', :back %> </p>
    <h2>プロフィールを編集</h2>
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
      <p>画像</p>
      <input class="edit-prof-image" name="userImage" type="file" value="<%= @user.image_name %>">
      <p>ユーザー名</p>
      <input name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
      <input name="email" value="<%= @user.email %>">
      <p>職業</p>
      <input name="occupation" value="<%= @user.occupation %>">
      <p>年齢</p>
      <input name="age" value="<%= @user.age %>">
      <p>住まい</p>
      <input name="address" value="<%= @user.address %>">
      <p>プロフィール</p>
      <textarea name="detail"><%= @user.detail %></textarea>
      <input class="edit-submit" type="submit" value="保存">
    <% end %>
  </div>
</div>
