<h1>新規登録</h1>

<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_tag("/users/create", {multipart:true}) do %>
  <p>画像</p>
  <input name="userImage" type="file" value="default.png">
  <p>メールアドレス</p>
  <input name="email" value="<%= @user.email %>">
  <p>ユーザー名</p>
  <input name="name" value="<%= @user.name %>">
  <p>パスワード</p>
  <input type="password" name="password" value="<%= @user.password %>">
  <input type="submit" value="登録する">
<% end %>
