<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <script src="/app/assets/jquery.steps.min.js"></script>
    <script src="/app/assets/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>VCookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
        <div class="header-logo">
          <div class="header-logo-left">
            <%= link_to "/" do%>
              <p>V-Cookのロゴ | </p>
            <% end %>
          </div>
          <div class="header-logo-right">
            <p>ヴィーガンのためのレシピサイト</p>
          </div>
        </div>
        <div class="header-image">
          <img src="/header-image.png">
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to("ホーム", "/") %>
          </li>
          <li>
            <%= link_to("ランキング", "/recipes/index") %>
          </li>
          <% if @current_user %>
            <li>
              <%= link_to("レシピ投稿", "/recipes/new") %>
            </li>
            <li>
              <%= link_to("マイページ", "/users/#{@current_user.id}") %>
            </li>
          <% else %>
            <li>
              <%= link_to("新規登録", "/signup") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
          <% end %>
        </ul>
    </header>

    <% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
